{% extends 'base.html' %}
{% block title %}Orders{% endblock %}
{% block content %}
<h1>Order Details </h1>
{% for order in orders %}
<div class="card mb-3">
        <p style="font-weight: bold;">Order ID: {{ order.order_id }}</p>
        <hr>
        {% for orderitem in order.orderitem_set.all %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ orderitem.product.product_image.url }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ orderitem.product.product_name }}</h5>
                  <p class="card-text">Quantity: {{ orderitem.quantity }}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>

{% endfor %}
{% endblock %}
